- @nav_hierarchy = [:users]

%h2 Users

#paginator
  = paginate @users, :remote => true

%table.admin-table
  %thead
    %tr
      %th Username
      %th Timezone
      %th Actions
  %tbody#users
    = render @users
