- @nav_hierarchy = [:enrollments]

%h2 Enrollments

#paginator
  = paginate @enrollments, :remote => true

%table.admin-table
  %thead
    %tr
      %th ID
      %th Stream
      %th Phone Number
      %th Delivery Method
      %th Stream Start
      %th Status
      %th Actions
  %tbody#enrollments
    = render @enrollments

.actions= link_to 'New Enrollment', new_admin_enrollment_path
